:root {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  --positive-color: #19be6b;
  --neutral-color: #2d8cf0;
  --negative-color: #ed3f14;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  background-image: url("../images/b_and_w_bg.png");
}

.title {
  text-align: center;
  font-size: 3.3rem;
  color: var(--font-color);
  padding: 20px;
  background: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  margin: 20px auto;
  width: 420px;
}

.central-span {
  padding: 20px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  margin: 20px auto;
  max-width: 100%; /* Allow it to expand to full width on smaller screens */
  width: 600px;
  height: auto; /* Allow it to expand in height as needed */
  margin-top: 10px;
}

/* Description */
.description {
  background: var(--bg-color);
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  color: var(--font-color);
  font-size: 1.2rem;
  margin: 10px auto;
  max-width: 420px;
  padding: 10px;
}

.description h2 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 10px;
  text-align: center;
}

.description p {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--font-color);
  margin-top: 10px;
  text-align: justify;
}

.sentimentinators {
  color: var(--main-color);
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.sentimentinators:hover,
.sentimentinators.hovered {
  background-color: var(--input-focus);
  color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
}

/* Input Form */
.input-form {
  padding: 10px;
  background: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  margin: 10px auto;
  width: 420px;
}

.input-title {
  color: var(--font-color);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 25px;
  text-align: center;
}

.input-title span {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 17px;
}

.input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input:focus {
  border: 2px solid var(--input-focus);
}

.button-submit {
  margin: 20px auto;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.button-submit:hover {
  background-color: var(--input-focus);
  color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
}

/* Sample Text Prompts */
.sample-text-prompts {
  background: lightgrey;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  margin: 10px auto;
  max-width: 100%; /* Allow it to expand to full width on smaller screens */
  width: 420px;
  padding: 10px;
}

.sample-text-prompts h3 {
  color: var(--font-color);
  font-weight: 900;
  font-size: 20px;
  margin: 10px;
}

.sample-text-prompts ul {
  list-style: none;
  padding: 0;
}

.sample-text-prompts li {
  margin-bottom: 10px;
  padding: 10px;
}

.sample-text-prompts a {
  text-decoration: none;
  color: var(--font-color);
  font-size: 15px;
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
}

.sample-text-prompts a:hover {
  background-color: var(--input-focus);
  color: var(--bg-color);
}

/* Predicted Sentiment Result */
.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: lightgrey;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  color: var(--font-color);
  margin: 10px auto;
  max-width: 100%; /* Allow it to expand to full width on smaller screens */
  width: 420px;
}

.result h2 {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
}

.result p {
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  background-color: white;
  box-shadow: 4px 4px var(--main-color);
  display: inline-block; /* to make the background color only cover the text */
  padding: 10px;
  border-radius: 5px;
}

.prediction-positive {
  background-color: var(--positive-color) !important;
  color: var(--bg-color) !important;
  box-shadow: 4px 4px var(--main-color) !important;
}

.prediction-neutral {
  background-color: var(--neutral-color) !important;
  color: var(--bg-color) !important;
  box-shadow: 4px 4px var(--main-color) !important;
}

.prediction-negative {
  background-color: var(--negative-color) !important;
  color: var(--bg-color) !important;
  box-shadow: 4px 4px var(--main-color) !important;
}

.footer {
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  padding: 10px 10px;
  margin: 20px auto;
  text-align: center;
  font-size: 0.8rem;
  color: var(--font-color);
  max-width: fit-content;
  width: 100%;
  position: relative;
  clear: both;
}

.footer a {
  color: var(--main-color);
  text-decoration: none;
  margin: 0 10px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Added transition */
}

.footer a:hover {
  background-color: var(--input-focus); /* Added background color on hover */
  color: var(--bg-color); /* Added text color on hover */
  box-shadow: 4px 4px var(--main-color); /* Added box shadow on hover */
}

@media (max-width: 768px) {
  .title {
    width: 300px;
    font-size: 2rem;
    padding: 10px 0;
  }

  .central-span {
    width: 300px;
  }

  .input-form {
    width: 300px;
    padding: 10px 0;
  }

  .sample-text-prompts {
    width: 300px;
    padding: 10px 0;
  }

  .result {
    width: 300px;
    padding: 10px 0;
  }

  .footer {
    width: 300px;
  }
}
