<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sentiment Analysis</title>

    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>

  <body>
    <h1 class="title">Sentimentinator</h1>

    <!-- Input Form -->
    <form action="/" method="POST" class="input-form">
      <div class="input-title">
        Hi,<br /><span>Enter text to predict sentiment</span>
      </div>
      <input
        type="text"
        id="text_input"
        name="text_input"
        placeholder="Enter text"
        class="input"
      />
      <button type="submit" class="button-submit">Submit</button>
    </form>

    <!-- Predicted Sentiment Result -->
    {% if result %}
    <div class="result">
      <h2>Input Text</h2>
      <p>{{ result.text_input }}</p>
      <h2>Predicted Sentiment:</h2>
      <p>{{ result.predicted_sentiment }}</p>
    </div>
    {% endif %}

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
